html{
    background: url('images/stethoscope-wit.png') no-repeat center fixed;
    background-size: cover;
}
body{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0%;
    position: relative;
}
#first{
    margin-top: 100px;
    margin-right: 80px;
    width: 390px;
}
.input{
    margin-top: 15px;
    display: inline-block;
    height: 20px;
    width: 350px;
    background: none;
    border: none;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}
i{
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    color: grey;
}
label{
    display: inline-block;
    margin-right: 41px;
    font-weight: bold;
}
.typeneg{
    margin-right: 45px;
}
label[for="bloodtype"]{
    margin-top: 50px;
    margin-bottom: 25px;
    display: block;
}
.locate{
    text-decoration: none;
    font-weight: bold;
    display: block;
    color: black;
    margin-top: 50px;
    margin-bottom: 30px;
}
input[type="date" i] {
    width: 355px;
}
.locate:hover{
    color: white;
}
input[type="button"]{
    height: 40px;
    border: none;
    border-radius: 40px;
    width: 180px;
    background-color: rgb(104, 131, 104);
    color: white;
    margin-left: 100px;
}
input[type="button"]:hover{
    cursor: pointer;
    border: 2px solid white;
}
.confirmbtn{
    width: 50px;
    height:50px;
    font-size: 35px;
    margin-right:-30%;
    border-radius: 50%;
    border: none;
}
.confirmbtn:hover{
    cursor: pointer;
    border: 2px solid black;
}
.nav{
    width: 100%;
    height: 50px;
    background-color: rgb(50, 68, 200,0.3);
    position:absolute;
    bottom: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.nav a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    margin-right: 100px;
    opacity: 0.7;
    color: rgb(0, 98, 255);
}
@media(max-width:450px){
    html{
        background: url('images/stethoscope-wit.png') no-repeat right fixed;
        background-size: cover;
    }
    body{
        justify-content: left;
    }
    #first{
        margin-top: 50px;
        margin-right: 0px;
        width: 250px;
    }
    .input{
        width: 220px;
    }
    .confirmbtn{
        margin-left:40%;
    }
    label{
        margin-right: 10px;
    }
    .typeneg{
        margin-right: 14px;
    }
    .locate{
        font-size: 12px;
    }
    input[type="button"]{
        margin-left: 35px;
    }
}
@media(max-width:390px){
    html{
        background: url('images/stethoscope-wit.png') no-repeat right fixed;
        background-size: cover;
    }
    body{
        justify-content: center;
    }
    #first{
        margin-top: 50px;
        margin-right: 0px;
        width: 250px;
    }
    .input{
        width: 220px;
    }
    .confirmbtn{
        margin-left:50%;
    }
    label{
        margin-right: 10px;
    }
    .typeneg{
        margin-right: 14px;
    }
    .locate{
        font-size: 12px;
    }
    input[type="button"]{
        margin-left: 35px;
    }
    .nav{
        height: 35px;
        bottom:5px ;
    }
}
@media(max-width:350px){
    html{
        background: url('images/stethoscope-wit.png') no-repeat right fixed;
        background-size: cover;
    }
    body{
        height: 110vh;
        width: 110vw;
        justify-content: center;
    }
    #first{
        margin-top: -10px;
        margin-right: 0px;
        width: 250px;
    }
    .input{
        width: 220px;
    }
    .confirmbtn{
        margin-left:50%;
    }
    label{
        margin-right: 7px;
    }
    .typeneg{
        margin-right: 14px;
    }
    .locate{
        font-size: 12px;
    }
    input[type="button"]{
        margin-left: 35px;
    }
    .nav{
        height: 28px;
        bottom:5px ;
    }
    .nav a{
        font-size: small;
        margin-right: 50px;
    }
}